.navtop{
  display: flex;
  justify-content: space-between;
  /* margin-top: 1.5vmax; */
}
.navcat{
  margin-right: 4em;
}

.hidden{
  opacity: 0;
  width: 12%;
}

.containerD{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#search{
  border :0;
  border-bottom: 1px solid #222;
  height: 3em;
  font-size: 17px;
  margin: 0;
}
#search:focus{
  outline: none;
}
.login,
.searchres,
.cart,
.wishlist {
  width: 1.7em;
}
.search{
  width: 1.5em;
}
.tag {
  text-align: center;
  line-height: 0px;
  margin-top: 1vmax ;
}
ul {
  list-style-type: none;
}
.ulA, .ulB,.ulC  {
  width: 18vmax;
  display: flex;
  justify-content: space-around;
}
.ulC{
  width: 30rem;
  margin: 0;
}
.searchres{display: none;}
.toggle{
  display: none;
}
 .containerC {
    margin-right: 3rem;
    margin-top: 1.5rem;
}
.containerA{
  margin-top:1.5rem ;
}
.containerB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin-top: 0.5rem;
}
.logo {
  width: 5vmax;

}
.search:hover , .cart:hover, .wishlist:hover, .login:hover, .tag:hover, .logo:hover, li:hover{
    cursor: pointer;
}
.cat{
  transform: translateY(-1vmax);
}

@media screen and (max-width: 1200px) {
  .navcat, .containerA{
    display: none;
  }
  .toggle{
    display: initial;
    margin-top: .5vmax;
   
  }
   .containerC {
    margin-right: 2vmax;
}
  .logo{
    width: 3em;
    margin-top: 4px;
    }
  .searchres{display: initial;}
  .option{
    width: 1.5em;
    margin-left: .4em;
    padding: 10px;
  }
  
  .containerB {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.tag{
  display: none;
}


  
}

