.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  /* scroll-behavior: smooth; */
  z-index: 10;
  margin: 0;
  background-color: rgba(0,0,0,0.75);
  
}

.modal {
  position: fixed;
  z-index: 100;
  width: 45%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(247, 245, 245);
  overflow: scroll;
}
.cancel{
    transform: translateY(40vh);
    width: 5em;
}

.header{
    padding: 12px;
    border-bottom: 1px solid black;
    font-size: 1.4vmax;
    color: white;
    background-color: tomato;
}
.rescategory,.rescontact{
    text-align: left;
    padding: 10px;
  
}
.rescategory{
    font-size: 2.5vmax;
}
.rescontact{
    font-size: 2vmax;
}
.list{
    padding: 2vmax;
}

@media screen and (max-width:700px) {
    .modal {
        width: 30vmax;
    }
}
